/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');

:root {
    --primary-color: #1e88e5;
    --second-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}